<!DOCTYPE html>
<html>
    <head>
        <title>rev300</title>
        <meta charset="utf-8">
    </head>
    <body style="padding: 0; background-color: #fbc98e;">
        <header style="background-color: #81a7d6;">
            <h1 style="display: flex; justify-content: center; color: #decc60;">Revividor 3000 Manager</h1>
        </header>
        <article>
            <h2>Lista de pacientes</h2>
            <ol>
                <li>
                    lol <%= text %>
                </li>
            </ol>
            <form method="post" style="background-color: #fbc98e;">
                <input type="text" required="true" placeholder="Nombre">
                <input type="number" required="true" value="Edad">
                <input type="text" required="true" placeholder="tag">
                <input type="submit">
            </form>
        </article>
    </body>
</html>